# Predict Apple Stock using LSTM

In [1]:
import torch
import torch.nn as nn

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. ETL

In [2]:
df = pd.read_csv('../data/appl_1980_2014.csv')
df.head()
len(df)

8465

In [3]:
df.Date = pd.to_datetime(df.Date)

In [4]:
df.Date.dt.year.unique()

array([2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004,
       2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993,
       1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982,
       1981, 1980])

In [5]:
#let's scope it to only 2010 to 2014 to reduce computation
cond = df.Date.dt.year > 2009
df = df[cond]

In [6]:
df = df.set_index('Date')

In [7]:
df.sort_index(ascending=True, inplace=True)

In [8]:
df.head(-10)

              Open    High     Low   Close     Volume  Adj Close
Date
2010-01-04  213.43  214.50  212.38  214.01  123432400      29.22
2010-01-05  214.60  215.59  213.25  214.38  150476200      29.27
2010-01-06  214.38  215.23  210.75  210.97  138040000      28.81
2010-01-07  211.75  212.00  209.05  210.58  119282800      28.75
2010-01-08  210.30  212.00  209.06  211.98  111902700      28.94
...            ...     ...     ...     ...        ...        ...
2014-06-17   92.31   92.70   91.80   92.08   29689800      92.08
2014-06-18   92.27   92.29   91.35   92.18   33493800      92.18
2014-06-19   92.29   92.30   91.34   91.86   35486400      91.86
2014-06-20   91.85   92.55   90.90   90.91  100813200      90.91
2014-06-23   91.32   91.62   90.60   90.83   43618200      90.83

[1125 rows x 6 columns]

## 2. EDA