# Sklearn Workshop 2: Mobile Price Prediction (Classificaiton)

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
#the difficult one.....
# fc:Front Camera mega pixels
# int_memory:Internal Memory in Gigabytes
# m_dep:Mobile Depth in cm
# pc:Primary Camera mega pixels
# sc_h:Screen Height of mobile in cm
# sc_w:Screen Width of mobile in cm
# talk_time:longest time that a single battery charge will last when you are

### Step 1: ETL

In [34]:
#just consider this as a mix of train and test.....
#don't use the testing set because it does not have target (so we cannot interpret.....)
df = pd.read_csv("data/train_mobile.csv")

In [41]:
df.describe()  #no missing values, seems like....
# df.dtypes
# df['price_range'].value_counts()  #check whether data class is balanced; wow...so lucky!

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [43]:
#all values are int or float, but some are numeric, some are categorical, so let's set it.....
cat_col = ['blue', 'dual_sim', 'four_g', 'three_g', 'touch_screen', 'wifi']

cat_df = df[ cat_col ]
num_df = df.drop(columns = cat_col).drop(columns = ['price_range'])  #we don't need price_range for plotting....

cat_df.columns, num_df.columns

(Index(['blue', 'dual_sim', 'four_g', 'three_g', 'touch_screen', 'wifi'], dtype='object'),
 Index(['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep',
        'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h',
        'sc_w', 'talk_time'],
       dtype='object'))

### Step 2: EDA

In [ ]:
#plot the categorical columns
for col in cat_df.columns:
    plt.barh(x = df['price_range'], y=df[col])

### Step 3: Splitting

### Step 4: Preprocessing

### Step 5: Modeling

### Step 6: Testing

### Step 7: Feature Importance

### Step 8: Saving the models